 /* Ingredient to buy : IngredientName & *IngredientAmount */
  .list-group-item.ingredientName,
  .list-group-item.ingredientAmount{
    cursor: pointer;
    margin: .1em 0;
 }

/*Delete item button - trash bin*/
 .list-group-item.btn-sample{
    margin: .1em 0em; 
    padding: 13px 10px;
    display: block;
    text-align: center; 
    cursor: pointer;

}

/*Button mark as important - star icon*/
.list-group-item.markAsImportant{
    color: red;
    margin: .1em 0em; 
    padding: 13px 10px;
    display: block;
    text-align: center; 
    cursor: pointer;
}

/*Delet sopping list button*/
.deletebtn{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645, rgb(255, 1, 1) );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid rgba(15, 9, 9, 0.7);
    padding: 1em 1.5em;
    font-weight: bold;

  } 
  
  .deletebtn:hover {
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  .deletebtn:focus {
      outline: none;
  }

